server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:file:./data/taskmanagerdb;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update     # Cria e atualiza automaticamente as tabelas
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console

  flyway:
    enabled: false         # Desativa o Flyway (não é necessário no H2)

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: WARN
    org.springframework.security: INFO
  include-exception: true
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"

jwt:
  # ✅ Mesma chave usada no ambiente PostgreSQL
  secret: Y2hhbmdlLXRob3Mtc3VwZXItc2VjcmV0LWtleS1hdC1sZWFzdC0zMi1ieXRlcy1sb25n

app:
  cors:
    allowed-origins:
      - http://localhost:5173
      - http://127.0.0.1:5173
